@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

nav {
  float: right;
  position: relative;
  right: 4pc;
}

.list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  background-color: whitesmoke;
  padding: 30px 30px 10px 10px;
  -webkit-transform: translate(4pc, -3.6pc);
          transform: translate(4pc, -3.6pc);
  -webkit-box-shadow: 0 0 15px -2px black;
          box-shadow: 0 0 15px -2px black;
}

.list li {
  margin: 17px 20px 0 2pc;
  -webkit-transform: translateX(-8pc);
          transform: translateX(-8pc);
}

.list li a {
  color: black;
  font-size: 16.5px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.list li a:hover {
  opacity: .5;
}

.list img#shop {
  -webkit-transform: translate(1px, 15px);
          transform: translate(1px, 15px);
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span.title {
  margin-right: 30pc;
  font-weight: bold;
  font-size: 2pc;
  position: relative;
  bottom: 38px;
  left: 10pc;
}

.container h1 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4pc;
}

.para {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10pc 0 0 5pc;
}

.registration {
  margin: 30px 0 0 5pc;
}

.registration input {
  border: none;
  outline: none;
  border: 2px solid black;
  background-color: rgba(211, 211, 211, 0.541);
  padding: 20px 15pc 20px 10px;
}

.registration ::-webkit-input-placeholder {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration :-ms-input-placeholder {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration ::-ms-input-placeholder {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration ::placeholder {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.registration button {
  border: none;
  outline: none;
  padding: 19px 5pc 19px 5pc;
  border: 2px solid rgba(0, 0, 0, 0.541);
  position: relative;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: 8px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  color: black;
}

.registration button:hover {
  background-color: black;
  color: white;
}

img#sho {
  position: relative;
  left: 60%;
  bottom: 17pc;
}

.stores {
  -webkit-transform: translatey(-13pc);
          transform: translatey(-13pc);
  margin-left: 10%;
}

.Womens-Store {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.699);
}

.Womens-Store h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-decoration: underline gray;
          text-decoration: underline gray;
}

.Womens-Store h2 span {
  opacity: .5;
  margin-left: 10px;
}

.Womens-Store a {
  font-size: 18px;
}

.Womens-Store a button {
  -webkit-transform: translate(50pc, -5pc);
          transform: translate(50pc, -5pc);
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.65);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.Womens-Store button:hover {
  opacity: .5;
}

.Mens-Store {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.699);
  float: right;
  margin: 10pc 50px 0 0;
  line-height: 1.3em;
}

.Mens-Store h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-decoration: underline gray;
          text-decoration: underline gray;
}

.Mens-Store h2 span {
  opacity: .5;
  margin-left: 10px;
}

.Mens-Store a {
  font-size: 18px;
}

.Mens-Store a button {
  -webkit-transform: translate(-28pc, -5pc);
          transform: translate(-28pc, -5pc);
  border: none;
  outline: none;
  color: white;
  background-color: black;
  padding: 10px 20px 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.65);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.Mens-Store button:hover {
  opacity: .5;
}

.kids-Store {
  width: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.699);
  margin: 38pc 50px 0 0;
  line-height: 1.3em;
}

.kids-Store h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-decoration: underline gray;
          text-decoration: underline gray;
}

.kids-Store h2 span {
  opacity: .5;
  margin-left: 10px;
}

.kids-Store a {
  font-size: 18px;
}

.kids-Store a button {
  -webkit-transform: translate(50pc, -5pc);
          transform: translate(50pc, -5pc);
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.65);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.kids-Store button:hover {
  opacity: .5;
}

footer {
  background-color: rgba(11, 32, 100, 0.863);
  -webkit-transform: translateY(5pc);
          transform: translateY(5pc);
}

.copyright {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 5pc 0 5pc 0;
}

button.top {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  float: right;
  position: relative;
  bottom: 8.5pc;
  right: 30px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-animation: 1s infinite ease top_scroll;
          animation: 1s infinite ease top_scroll;
}

@-webkit-keyframes top_scroll {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes top_scroll {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

#alert {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-left: 5pc;
  color: red;
}

#thanks {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5pc;
}
/*# sourceMappingURL=Home.css.map */